@font-face {
    font-family: 'GFS Didot';
    src: url('backend.bijbelquiz.app/fonts/GFSDidot-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'GFS Didot';
    src: url('backend.bijbelquiz.app/fonts/GFSDidot-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }
  