@font-face {
    font-family: 'GFS Didot';
    src: url('backend.bijbelquiz.app/fonts/gfs-didot/GFSDidot-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'GFS Didot';
    src: url('backend.bijbelquiz.app/fonts/gfs-didot/GFSDidot-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Quicksand';
    src: url('backend.bijbelquiz.app/fonts/quicksand/Quicksand-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Quicksand';
    src: url('backend.bijbelquiz.app/fonts/quicksand/Quicksand-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Quicksand';
    src: url('backend.bijbelquiz.app/fonts/quicksand/Quicksand-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Quicksand';
    src: url('backend.bijbelquiz.app/fonts/quicksand/Quicksand-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'Quicksand';
    src: url('backend.bijbelquiz.app/fonts/quicksand/Quicksand-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }
  