<div class="footer-links">
    <a href="https://bijbelquiz.app/" class="footer-link">Home</a>
    <span class="footer-separator">•</span>
    <a href="https://bijbelquiz.app/algemene-voorwaarden" class="footer-link">Algemene voorwaarden</a>
    <span class="footer-separator">•</span>
    <a href="https://bijbelquiz.app/links" class="footer-link">Social Media</a>
    <span class="footer-separator">•</span>
    <a href="https://bijbelquiz.app/faq" class="footer-link">FAQ</a>
    <span class="footer-separator">•</span>
    <a href="https://bijbelquiz.app/pers" class="footer-link">Pers</a>
    <span class="footer-separator">•</span>
    <a href="https://bijbelquiz.app/status" class="footer-link" id="service-status-link">
        <span id="service-status" class="service-status">Status wordt geladen...</span>
    </a>
</div>
<p>&copy; 2025 BijbelQuiz</p>